.main-img {
    max-width: 100%;
    width: 100%;
}

.main__container {
    display: flex;
    justify-content: center;
}

.fab {
    font-size: 140px;
}

.main__menu {
    width: 70%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
    padding-top: 40px;
    padding-bottom: 30px;
}

.main__item {
    width: 30%;
    margin-bottom: 20px;
}

.main__img {
    height: 120px;
}

.main__link:visited{
    color: #000000;
}