/*Страница Project*/

main {
    min-height: 100%;
}

main::after {
    content: "";
    height: 77px;
    display: block;
}

.project-container {
    margin-bottom: 20px;
    background-color: gainsboro;
}

.project-albul {
    border-radius: 10px;
    margin: auto;
    width: 70%;
    padding: 10px 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project__item {
    width: 230px;
    height: 145px;
    border-radius: 4px; 
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 35%;
    background-color: #ecf1f5;
    margin: 5px 5px;
    transition: .3s;
}

.loftshchool {
    background-image: url('../../img/loftschool.jpg');
}

.todojs {
    background-image: url('../../img/todojs.jpg')
}

.project__item:hover {
    filter: grayscale(50%);
}

.project__item-title {
    color: rgb(26, 23, 23);
    opacity: 0.6;
    font-style: italic;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 118px 12px 9px;
    cursor: pointer;
    transition: 0.5s all;
}

.project__item-title:hover {
    text-decoration: underline;
    color: rgb(0, 0, 0);
}